@import url('./vendor/normalize.less');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  font-family: 'Roboto Slab', sans-serif;
}

html,
body,
#root {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  // overflow: hidden;
  height: 100%;
}

.main {
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: relative;
}
